#red {
  background-color: Crimson;
}

#green {
  background-color: SpringGreen;
}

#blue {
  background-color: DeepSkyBlue;
}

#black {
  background-color: rgb(0, 0, 0);
}

#white {
  background-color: white;
}

#clear-board {
  width: 70px;
  height: 25px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px;
  font-family: monospace;
  background-color: rgb(223, 223, 223);
}

#clear-board:hover {
  color: blue;
}

#clear-board:active {
  border: 2px solid silver;
}

.color {
  border: 1px solid black;
  width: 55px;
  height: 55px;
  display: inline-block;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  padding: 0px;
  display: inline-block;
  background-color: white;
  /* margin: 4px; */
}

#pixel-board {
  width: 210px;
  line-height: 0;
}

#board-size {
  width: 30px;
}